{% extends 'base.html' %}
{% block content %} 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/logout/">Logout</a>
        <a class="navbar-brand" href="/admin-show-groups/">Groups</a>
      
    </div>
  </div>
</nav>
<style>
  p {
    font-size: 18px;
  }
</style>
{% if  members %}
    {% for hp in members %}
        
        <hr>
        <p>
          {{ hp.0.username }}
        </p> <br>
            {% if hp.2 %}
            <a href="/admin-group-moderator/{{hp.1}}/{{hp.0.id}}/0" >  Remove Moderator </a>
            {% else %}
            <a href="/admin-group-moderator/{{hp.1}}/{{hp.0.id}}/1" >  Add Moderator </a>
            {% endif %}
        <hr>
    {% endfor %}
{% else %}
        <hr>
        <p>
            There is no member of the current group
        </p>
{% endif %}
{% endblock %}
