{% extends 'base.html' %}
{% block content %} 
<style>
  h4{
  color: grey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: right; 
}
h3 {
  text-align:center;
}
</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href="/new_post/{{gid}}"> Add Post </a>
      <a class="navbar-brand" href ="/show_group_event/{{gid}}">Group events</a>
        {% for md in moderator %}
            {% if md %}
                <a class="navbar-brand" href ="/mod/{{gid}}">Members</a>
            {% endif %}
        {% endfor %} 
        <a class="navbar-brand" href ="/showgroup"> My groups </a> 
        <a class="navbar-brand" href ="/notification"> My events </a> 
    </div>
  </div>
</nav>
<style>
  .post_description {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }
  .post{
    background-color: lightblue;
  }
</style>
<div>
    
      {% for n_post in no_of_posts %}
          <h3>
           Your Total Posts : {{ n_post }}
          </h3>
      {% endfor %}

      {% for n_events in no_of_events %}
          <h3>
           Your Total Events : {{ n_events }}
          </h3>
      {% endfor %}
</div>


{% if  hps %}
    {% for hp in hps %}
      <div class="post">
        <hr>
        <div class="post_description">
          {{ hp.PostDescription }}
        </div> 
        <br>
        <button type="button" class="btn" onclick="window.location.href ='/likes/{{hp.PostId}}';" >{{ hp.Likes }} Likes</button><!--
      --><button type="button" class="btn" onclick="window.location.href ='/post_comments/{{hp.PostId}}';" >Show Comments</button><!--
      --><button type="button" class="btn" onclick="window.location.href ='/new_comment/{{hp.PostId}}';">Add Comments</button>
          <h4>
            {{ hp.PostTime }}
          </h4>
    {% endfor %}
{% else %}
    <hr>
    <p style="font-weight: bold;">
        There is no post in the group
    </p>    
{% endif %}
{% endblock %}
