{% extends 'base.html' %}
{% block content %} 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href="/new_post/{{gid}}"> Add Post </a>
      <a class="navbar-brand" href ="/showgroup"> My groups </a> 
      <a class="navbar-brand" href ="/notification"> My events </a> 
      <a class="navbar-brand" href ="/show_group_event/{{gid}}">Group events</a>
    </div>
  </div>
</nav>
<style>
  p {
    font-size: 18px;
  }
  .members{
    background-color: lightblue;
  }
  .username{
    font-weight: bold;
    font-size: 22px;
  }
</style>
{% if  group_mem %}
    {% for hp in group_mem %}
        <div class ="members">
        <hr>
        <div class="username">
          {{ hp.username }}
        </div> 
        <br>
            <!-- <form method="post" action="/mod_group_mem_del/{{gid}}/{{hp.id}}"> 
                {% csrf_token %}
                <br>
                <button type="button"> Remove this person </button>
            </form> -->
            <a href="/mod_group_mem_del/{{gid}}/{{hp.id}}" >  Remove this person </a>
        <hr>
        </div>
    {% endfor %}
{% else %}
        <hr>
        <p>
            There is no member of the current group
        </p>
{% endif %}
{% endblock %}
