{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">Home</a>
    </div>
  </div>
</nav>
<style>
    h3{
        color: blue;
    }
    p{
        color: black;
        font-size: 18px;
    }   
</style>
{% if  new_groups %}
    {% for gp in new_groups %}
    <p style="background-color:silver;">
        <h3>
             {{ gp.GroupName }}
        </h3>
        <p>
            {{ gp.GroupDescription }}
        </p>
        <p>
            <form method="post" action="{% url 'join_group' gp.GroupId %}"> 
                {% csrf_token %}
                <br>
                <button class="btn" type="submit"> Join Group </button>
            </form>
        </p>
    </p>
    {% endfor %}
{% endif %}
{% endblock %}
