
{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
    </div>
  </div>
</nav>
<div class="w3-panel w3-blue">
      <h2 class="w3-text-orange" style="text-shadow:1px 1px 0 #444">
      <b>Comment</b></h1>
</div>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ new_comment_form.as_p }}
        <br>
        <button type="submit" class="btn" align="middle">Save Comment</button>
</form>
{% endblock %}