{% extends 'base.html' %}
{% block content %} 
<style>
h4{
  color: grey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: right; 
}
p{
    color: black;
    font-size: 18px;
}
.join{
  background-color: lightblue;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href="/new_comment/{{pid}}">Add Comment</a>
    </div>
  </div>
</nav>
{% if  hcs %}
    {% for hc in hcs %}
    <div class="join">
        <p >
                {{ hc.Content }}
        </p> 
        <h4 >
                {{ hc.UserId.username }}
        </h4> 
        <h4 >
                {{ hc.CommentTime }}
        </h4> 
    </div>
    <hr>
    {% endfor %}
{% else %}
    
    <p style="font-weight: bold;">
        There are no comments
    </p>    
{% endif %}
{% endblock %}