{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
    </div>
  </div>
</nav>
<style >
  h3{
  color: black;
  background-color: silver; 
}
p{
    background-color: silver;
    color: black;
    font-size: 18px;
}
</style>
{% if  1 %}
    <h3>Thanks for choosing us! </h3>
    {% for gp in notifi %}
        <h3>
              {{ gp.EventName}}
        </h3>
        <p>       
              {{ gp.EventDescription }}
        </p>
        <hr>
        <!-- <p>
            {{ gp.GroupId }}
    </p> -->
        

    {% endfor %}
{% endif %}
{% endblock %}
