{% extends 'base.html' %}
{% block content %}
<style>
  h4{
  color: grey;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: right; 
}
</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href="/new_event/{{gid}}">Add event</a>
      <a class="navbar-brand" href="/group_posts/{{gid}}">Group Home</a>
      
      
      
    </div>
  </div>
</nav>

<style>   
    h3{
  color: black; 
}
</style>
<h2 style="font-weight: bold;"> Joined Events </h2>

    {% if joined %}
      {% for hp in joined %}
      <div style="background-color: lightblue;">
          <hr>
          <h3>
                  {{ hp.EventName }}
          </h3> 
          <p>
                Place : {{hp.EventPlace}}
          </p> 
          <p>
                Date  : {{hp.DateTime}}
          </p>
          
          <h4>
            {{ hp.EventCreationTime }}
        </h4>
        <hr>
      </div>
        </div>
      {% endfor %}
    {% else %}
      <hr>
      <p style="font-weight: bold;">
          There are no events
      </p>  
    {% endif %}

<h2 style="font-weight: bold;"> Not Joined Events </h2>

    {% if not_joined %}
      {% for hp in not_joined %}
      <div style="background-color: lightblue;">
          <hr>
          <h3>
              {{ hp.EventName }}
          </h3> 
          <p>
                Place : {{hp.EventPlace}}
          </p> 
          <p>
                Date : {{hp.DateTime}}
          </p>
          <p>
              <button type="button" class="btn" onclick="window.location.href ='/join_event/{{hp.EventId}}';">Join this event</button>
          </p>
         
          <h4>
              {{ hp.EventCreationTime }}
          </h4>
          <hr>
        </div>
      {% endfor %}
    {% else %}
      <hr>
      <p style="font-weight: bold;">
          There are no events
      </p>  
    {% endif %}

{% endblock %}
