{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href ="/showgroup"> My groups </a> 
      <a class="navbar-brand" href="/logout">Logout</a> 
    </div>
  </div>
</nav>
<style >
  h2{
  color: black;
}
p{
    color: black;
    font-size: 18px;
}
.join{
  background-color: lightblue;
}
</style>

<div class="join">
    <hr>
    <p>
      Thanks for choosing us!
    </p>
    <hr>
</div>
{% if  notifi %}  
    {% for events in notifi %}
    <div class="join">
      
        <h2>
              {{ events.0.EventName}}
        </h2>
        <p>       
              {{ events.0.EventDescription }}
        </p>

        <p> 
              Entry Time : {{ events.1 }}
        </p>
        <p>
              Exit Time : {{ events.2 }}
        </p>
    </div>    
    {% endfor %}  
{% else %}
    <hr>
    <p style="font-weight: bold;">
        There are no current events
    </p>      
{% endif %}
{% endblock %}