{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
    </div>
  </div>
</nav>
<style >
  h3{
  color: black;
  background-color: silver; 
}
p{
    background-color: silver;
    color: black;
    font-size: 18px;
}
</style>
{% if  1 %}
    Thanks for choosing us!
    {% for events in notifi %}
        <h3>
              {{ events.0.EventName}}
        </h3>
        <p>       
              {{ events.0.EventDescription }}
        </p>

        <p> 
              Entry Time : {{ events.1 }}
        </p>
        <p>
              Exit Time : {{ events.1 }}
        </p>
        <br>
        <hr>
        
        

    {% endfor %}
{% endif %}
{% endblock %}