{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href="/new_event/{{gid}}">Add event</a>
    </div>
  </div>
</nav>

<style>   
    h3{
  color: black;
  background-color: silver; 
}
</style>
<h2> Joined Events </h2>

    {% for hp in joined %}
        <hr>
        <h3>
                {{ hp.EventName }}
        </h3> <br>
        <p>
              Place : {{hp.EventPlace}}
        </p> <br>
        <p>
              Date  : {{hp.DateTime}}
        </p>
        <hr>
    {% endfor %}

<hr><hr><hr>
<h2> Not Joined Events </h2>

    {% for hp in not_joined %}
        <hr>
        <h4>
            {{ hp.EventName }}
        </h4> <br>
        <p>
              Place : {{hp.EventPlace}}
        </p> <br>
        <p>
              Date : {{hp.DateTime.date}}
        </p>
        <p>
            <button type="button" class="btn" onclick="window.location.href ='/join_event/{{hp.EventId}}';">Join this event</button>
        </p>
        <hr>
    {% endfor %}

{% endblock %}
