{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile">{{user.username}}</a>
      <a class="navbar-brand" href ="/notification"> My events </a>
      <a class="navbar-brand" href="/newgroup">Add Group</a>
      <a class="navbar-brand" href="/logout">Logout</a> 
    </div>
  </div>
</nav>
 <style>
  .comment {
    font-size: 18px;
    background-color: lightblue;
    color:black;
  }
  </style>
{% if  user_groups %}
    {% for gp in user_groups %}
        <div class="comment">
          <hr>
          <h2>
            <a href="/group_posts/{{gp.GroupId}}" >  {{ gp.GroupName }} </a>
          </h2>
            {{ gp.GroupDescription }}
          <hr>
        </div>
      
        

    {% endfor %}
{% endif %}

{% endblock %}